/*
!wp-content/
.*
!.gitignore
!.editorconfig
!readme.md
~*
ehthumbs.db
Thumbs.db
*.sublime-project
*.sublime-workspace
*.komodoproject
*.log
*.sql
*.sqlite
*.com
*.class
*.dll
*.exe
*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
wp-content/*
wp-content/plugins/*
!wp-content/mu-plugins/
!wp-content/themes/
!wp-content/plugins/
!wp-content/plugins/dhc-order/
wp-content/plugins/woo*
wp-content/plugins/*.*
wp-content/themes/storefront
wp-content/themes/twenty*/
node_modules/
